<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin, [[${#httpServletRequest.remoteUser}]]!</title>
</head>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>
<br/>
<form th:action="@{/updatePerson}" method="get">
    <input type="submit" value="Edit my data"/>
</form>
<h3 th:inline="text">Admin, [[${#httpServletRequest.remoteUser}]]!</h3>
<hr/>

<br/>
<div th:each="person : ${person}">
    <a th:href="@{/admin/{id}(id=${person.getId()})}"
       th:text="${'Name: ' +person.getName()+ ', Year of birth:' +person.getYear()+ ', Phone:' +person.getPhone()+
        ', Role:' +person.getRole()+ ', Registration date:' +person.getRegistration()}">user</a>
</div>
<br/>
<hr/>

<form th:action="@{/admin/start}" method="get">
    <input type="submit" value="BACK"/>
</form>
</body>
</html>