<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin, [[${#httpServletRequest.remoteUser}]]!</title>
</head>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>
<br/>
<form th:action="@{/updatePerson}" method="get">
    <input type="submit" value="Edit my data"/>
</form>
<h3 th:inline="text">Admin, [[${#httpServletRequest.remoteUser}]]!</h3>
<hr/>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>
<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getName()}">Person Name</span>
    <br/>
    <form th:method="PATCH" th:action="@{/book/{id}/release(id=${book.getBook_id()})}">
        <br/>
        <input type="submit" value="Книга возвращена в библиотеку"/>
    </form>
</div>
<div th:if="${people}">
    <span>Эта книга свободна. Кому назначить ее?</span>
    <br/>
    <form th:method="PATCH" th:action="@{/book/{id}/giveBook(id=${book.getBook_id()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${person}" th:value="${person.getId()}" th:text="${person.getName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>
<hr/>
<br/>
<form th:method="GET" th:action="@{/book/{id}/edit(id=${book.getBook_id()})}">
    <input type="submit" value="Редактировать информацию о книге"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/book/{id}(id=${book.getBook_id()})}">
    <input type="submit" value="Удалить книгу"/>
</form>
</body>
</html>