<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin, [[${#httpServletRequest.remoteUser}]]!</title>
</head>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>
<br/>
<form th:action="@{/updatePerson}" method="get">
    <input type="submit" value="Edit my data"/>
</form>
<h3 th:inline="text">Admin, [[${#httpServletRequest.remoteUser}]]!</h3>
<hr/>
<body>
<p th:text="${'Name: ' +person.getName()+ ', Year of birth:' +person.getYear()+ ', Phone:' +person.getPhone()+
        ', Role:' +person.getRole()+ ', Registration date:' +person.getRegistration()}">VALUE</p>
<br/>
<a th:href="@{/person/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать"/></a>
<br/>
<br/>
<form th:action="@{/admin/delete/{id}(id=${person.getId()})}" th:method="delete">
    <input type="submit" value="Удалить"/>
</form>
<br/>
<hr/>
<br/>
<form th:action="@{/admin/people}" method="get">
    <input type="submit" value="BACK"/>
</form>
</body>
</html>